.navbar {
    display: flex;
    background-color: green;
    height: 96px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  
    ul {
      list-style: none;
      display: flex;
      margin-left: 32px;
      gap: 32px;
  
      li {
  
        a {
          display: inline-flex;
          vertical-align: center;
          text-decoration: none;
          color: white;
          font-weight: 700;
          font-size: larger;
          line-height: 100%;
  
          &:hover {
            color: orange;
          }
  
          svg {
            margin-right: 5px;
          }
        }
      }
    }
  }
  