* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .squares-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }
}

.board-squares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 10px;
  margin-top: 40px;

  .square {
    $num-colors: 16;
    width: 64px;
    height: 64px;
    opacity: 0.5;

    @for $i from 0 through $num-colors {
      &:nth-child(#{$i}) {
        background-color: rgb(random(255), random(255), random(255));
      }
    }
  }

  .focused {
    opacity: 1;
  }
}
