

.tictactoe {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    gap: 40px;

    .tictactoe-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.board-tictactoe {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    .cell{
        width: 64px;
        height: 64px;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 32px;
    }
}