* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.squares .squares-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.board-squares {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 10px;
  margin-top: 40px;
}

.board-squares .square {
  width: 64px;
  height: 64px;
  opacity: 0.5;
}

.board-squares .square:nth-child(0) {
  background-color: #954f15;
}

.board-squares .square:nth-child(1) {
  background-color: #2ed0fc;
}

.board-squares .square:nth-child(2) {
  background-color: #769ef9;
}

.board-squares .square:nth-child(3) {
  background-color: #665e3a;
}

.board-squares .square:nth-child(4) {
  background-color: #a1c116;
}

.board-squares .square:nth-child(5) {
  background-color: #e2d5ac;
}

.board-squares .square:nth-child(6) {
  background-color: #8c43d5;
}

.board-squares .square:nth-child(7) {
  background-color: #6d5c90;
}

.board-squares .square:nth-child(8) {
  background-color: #d695a7;
}

.board-squares .square:nth-child(9) {
  background-color: #ff3971;
}

.board-squares .square:nth-child(10) {
  background-color: #8623c4;
}

.board-squares .square:nth-child(11) {
  background-color: #f6c7f4;
}

.board-squares .square:nth-child(12) {
  background-color: #f479bb;
}

.board-squares .square:nth-child(13) {
  background-color: #a55dc4;
}

.board-squares .square:nth-child(14) {
  background-color: #b3229d;
}

.board-squares .square:nth-child(15) {
  background-color: #bb91dc;
}

.board-squares .square:nth-child(16) {
  background-color: #038041;
}

.board-squares .focused {
  opacity: 1;
}

.tictactoe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.tictactoe .tictactoe-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.board-tictactoe {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.board-tictactoe .cell {
  width: 64px;
  height: 64px;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 32px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: green;
  height: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
}

.navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 32px;
  gap: 32px;
}

.navbar ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: larger;
  line-height: 100%;
}

.navbar ul li a:hover {
  color: orange;
}

.navbar ul li a svg {
  margin-right: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=style.css.map */